.header {
  display: flex;
  padding: 2.5rem;
  position: absolute;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  z-index: 1;

  @media screen and (max-width: 414px) {
    padding: 1.5rem;
  }

  .menu {
    display: flex;

    span {
      margin-left: 32px;
      padding-bottom: 5px;
      border-bottom: 1px solid transparent;
      cursor: pointer;

      a {
        text-decoration: none;
        color: white;
      }

      &:hover {
        border-bottom: 1px solid red;
      }
    }
  }

  @media screen and (max-width: 374px) {
    padding: 1rem;
    justify-content: flex-start;

    .menu span {
      margin-left: 16px;
    }
  }
}
